/* 
    ==========================
       Colours
    ==========================
*/

$blue: #0275d8 !default;
$primary_text_color: #444;
$container_border_color: #ccc;
$container_box_shadow_color: rgba(0, 0, 0, 0.2);
$button_color: #ddd;
$form_border_color: #1aa3ff62;
$red: red;
$black: black;
$table_header_color: rgba(29, 150, 178, 1);
$white: white;
$table_even_row_background_color: rgba(94, 93, 82, 0.1);
$green_secondary: #6ead50;
$green_primary: #0d6628;
$green_tertiary: green;
$silver_color: silver;
$register_login_background: #ecf5fc;
$form_link_text_color: rgba(0, 0, 255, 0.685);
