// Variables
@import "variables";

//Admin LTE panel
@import "~admin-lte/build/scss/AdminLTE";

//Fonts
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&family=Merriweather:wght@300&display=swap");

/*
    =============== 
    Global Styles
    ===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-hidden {
    //Le texte "Dashboard" masqué sur grand écran
    text-align: center;
    margin: auto;
    display: none;
    list-style-type: none;
}

#top-right-links {
    // Donne un index à la barre supérieure pour qu'elle reste au-dessus des autres éléments
    z-index: 10;
}

// Formater la connexion, l'enregistrement, les liens de déconnexion en survol
.login-link:hover,
.signout-modified-link:hover,
.link-to-dashboard:hover,
.register-link:hover {
    height: 30px;
    display: inline-block;
    border-radius: 25px;
    padding-top: 5px;
    background-color: $button_color;
}

.brand-link:hover {
    color: $white;
}

/*
    =========================================
       Formatting of login and register page
    =========================================
*/

.register-box .card,
.login-page .card {
    form {
        border: 1px solid $form_border_color;
        background: $register_login_background;
        padding: 5px 8px 5px;
    }
}

.register-logo a:hover,
.login-logo a:hover {
    font-size: 38px;
    margin-bottom: 10px;
    color: $form_link_text_color !important;
}

/*
   =================================
       Tabbed outputs on stars page
   =================================
*/
.main {
    margin: auto;

    #stars-lists {
        display: none; // Masquer ce bloc de code sur grand écran
    }

    .startabs-parent-container {
        box-shadow: 0 0 5px -1px $container_box_shadow_color;
        border: 1px solid $container_border_color;
        width: 60%;
        margin: 100px auto 40px auto;
    }

    .startabs {
        display: flex;
        padding-left: 50px;
        margin-bottom: 0px;
        padding-bottom: 170px;
    }

    .startabs_button:last-child {
        border-bottom-left-radius: 18px; // arrondi en bas à gauche pour le dernier bouton
    }

    .startabs_sidebar {
        width: 250px;
        flex-shrink: 0;
    }

    .rounded-border {
        border-top-left-radius: 18px; //utilisé pour définir une bordure arrondie sur le premier bouton du formulaire
    }

    .startabs_button {
        display: block;
        padding: 10px;

        background: $button_color;
        box-shadow: 0 0 5px -1px $container_box_shadow_color;
        border: none;
        width: 100%;
        outline: none;
        cursor: pointer;
    }

    .vertical-bottom-line:after {
        //Ligne verticale en bas de page
        content: "";
        border-right: 1px solid $button_color;
        width: 298.97px;
        height: 120px;
        position: absolute;
        top: 630.5px;
    }

    .vertical-top-line:after {
        content: "";
        border-right: 1px solid#cccccc4d;
        width: 298.98px;
        height: 15px;
        position: absolute;
        background-color: white;
        top: 170px;
    }

    .startabs_button:active {
        background: $button_color;
    }

    .startabs_button:not(:last-of-type) {
        border-bottom: 1px solid $white;
    }

    .startabs_button_active {
        // style de classe de bouton actif
        font-weight: bold;
        border-right: none;
        background: $white;
        border-left: 1px solid $container_border_color;
    }

    .startabs_contents {
        padding: 15px;
        font-size: 0.8rem;
        display: none;
        background: $white;

        .img-span {
            margin-bottom: 30px;
        }

        img {
            width: 120px;
            height: 120px;
            margin: 6px 10px 0px 0px;
            border: 2px solid $button_color;
            border-radius: 8px;
            padding: 5px;
        }
    }

    .startabs_contents_active {
        // style de classe de contenu actif
        display: block;
    }

    .startabs_contents > :first-child {
        //Margin-top du premier enfant de notre contenu star
        margin-top: 0;
    }

    .page-title-container {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;

        /*  
            =======================
              Animate page title
            =======================
        */
        .page-title {
            position: relative;
            animation-name: top-down;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        @keyframes top-down {
            0% {
                top: -200px;
            }

            100% {
                top: 0px;
            }
        }
    }
}

/* 
    ============================
        Dashboard Welcome page
    ============================
*/

.dashboard-welcome-container {
    width: 70%;
    margin: auto;

    .dashboard-header {
        text-align: center;
        padding-top: 50px;
    }

    .inner-container {
        display: flex;
        justify-content: space-between;
    }

    .inner-container div {
        width: 200px;
        border: 1px solid rgba(29, 150, 178, 1);
        border-radius: 50%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h6 {
        color: blue !important;
        font-size: 24px !important;
    }

    .inner-container p {
        color: #0d6628;
        font-size: 22px !important;
    }
}

/* 
    ==========================
        create form page
    ==========================
*/

.create-form-container {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 40vw;
    margin: auto;

    form {
        border: 1px solid $form_border_color;
        background: $register_login_background;
        padding: 40px 50px 45px;
    }
}

form-control:focus {
    border-color: $black;
    box-shadow: none;
    color: $black;
}

label {
    font-weight: 600;
}

.error {
    color: $red;
    font-weight: 400;
    display: block;
    padding: 6px 0;
    font-size: 14px;
}

.form-control.error {
    border-color: $red;
    padding: 0.375rem 0.75rem;
}

.description {
    width: 95%;
}

.create-alert-success,
.create-alert-error {
    width: 40vw;
    text-align: center;
    margin: auto;
}

/* 
    ==========================
       index page in Dashboard
    ==========================
*/

#stars-table-wrapper {
    .pagination-links {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    #star-add-table {
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }

        th {
            background-color: $table_header_color;
            border: 1px solid $table_header_color;
            font-weight: normal;
            text-align: center;
            color: $white;
        }

        tr:nth-of-type(even) {
            background-color: $table_even_row_background_color;
        }

        // Styling the table links

        .crud-links:link,
        .crud-links:visited {
            background-color: $white;
            color: $black;
            width: 80px;
            height: 28px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
        }

        .crud-links:hover,
        .crud-links:active {
            color: $white;
        }

        #edit {
            border: 2px solid $blue;
            color: $blue;
        }

        #edit:hover,
        #edit:active {
            background-color: $blue;
            color: $white;
        }

        #view {
            border: 2px solid $green_secondary;
            color: $green_primary;
        }

        #view:hover,
        #view:active {
            background-color: $green_primary;
            color: $white;
        }

        #delete {
            border: 2px solid $red;
        }

        #delete:hover,
        #delete:active {
            background-color: $red;
        }

        .action-buttons {
            display: flex;
            justify-content: space-evenly;
        }
    }

    #create_record {
        background-color: $blue;
        color: $white;
        width: 62px;
        padding: 5px 10px;
        text-align: center;
    }

    #create_record:hover {
        color: $black;
        border: 2px solid $green_tertiary;
        background-color: $white;
    }
}

/*
 *   ==================
 *    Edit page
 *   ===================
*/

.back-link-container {
    padding-top: 20px;
    padding-left: 20px;

    .back-to-index-link {
        background-color: $white;
        width: 80px;
        height: 28px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        border: 1px solid $green_tertiary;
    }
}

/* 
    ==========================
        Show Page
    ==========================
*/

.date-created {
    margin-bottom: -20px;

    .name {
        text-align: center;
    }

    .name:first-of-type {
        color: $blue;
    }
}

.show-page-inner-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin: 50px auto 0px auto;
    border: thin $silver_color solid;
    width: 80%;
    padding-left: 15px;

    //Css pour le bouton d'édition et de suppression.
    .action-buttons-container {
        width: 47%;
        margin-top: 20px;

        .action-buttons {
            display: flex;
            justify-content: flex-start;

            .crud-links {
                margin-right: 50px;
            }

            #edit {
                border: 2px solid $blue;
                width: 100px;
                height: 30px;
                text-align: center;
            }

            #edit:hover,
            #edit:active {
                background-color: $blue;
                color: $white;
            }

            #delete {
                border: 2px solid $red;
                width: 100px;
                height: 30px;
            }

            #delete:hover,
            #delete:active {
                background-color: $red;
                color: $white;

                .fa-trash {
                    color: $white !important;
                }
            }
        }
    }
}

.show-page-nom-prenom-container {
    width: 50%;
    border: thin $silver_color solid;
    border-top: none;
    border-right: none;

    .nom-pronom {
        display: flex;
        justify-content: flex-start;
        padding-left: 35%;

        p:first-of-type {
            width: 80px;
            color: $green_tertiary;
            margin-right: 15px;
        }
    }

    img {
        width: 100%;
        height: 400px;
        padding: 0.5em;
        border-top-left-radius: 18px;
        border-top-right-radius: 18px;
        border-bottom-left-radius: 18px;
        border-bottom-right-radius: 18px;
    }
}

/* 
    ==========================
        Media Queries
    ==========================
*/

@media only screen and (max-width: 600px) {
    .startabs-parent-container {
        display: none !important; // cacher ce bloc pour le petit écran
    }

    /*
    *   =============================
    *       stars lists page formats
    *   =============================
    */

    .main {
        width: 100%;

        img {
            width: 120px;
            height: 120px;
            margin: 6px 10px 0px 0px;
            border: 2px solid $button_color;
            border-radius: 8px;
            padding: 5px;
        }

        #stars-lists {
            display: block; // montrer sur petit écran
        }
    }

    .page-title-container {
        margin-top: 20px;
    }

    /** Cette classe masquera les informations des stars par défaut **/
    #stars-lists .acc-body {
        display: none;

        .img-span {
            margin-bottom: 30px;
        }
        padding-right: 10px;
    }

    /** Cette classe affichera les informations de le star si elle a un parent avec une classe active
    **  et changera les couleurs d'arrière-plan en blanc
    **/
    #stars-lists .active {
        .acc-body,
        .acc-header {
            display: block;
            background-color: $white !important;
        }
    }

    #stars-lists .panel {
        //color: $primary_text_color;
        border: 1px solid $container_border_color;
        background: $button_color;
        box-shadow: 0 0 5px -1px $container_box_shadow_color;
        cursor: pointer;
        vertical-align: middle;
    }

    #stars-lists .acc-header,
    .acc-body {
        padding-left: 10px;
    }

    #stars-lists .acc-header {
        font-weight: bold;
    }

    // liens de navigation supérieurs
    #top-right-links {
        margin-bottom: 100px;
    }
    .position-ref {
        height: 60px;
    }

    .hide-on-small-screen {
        display: none;
    }

    #delete {
        margin-top: 20px;
    }

    .action-buttons {
        flex-direction: column;
    }

    .create-form-container {
        width: 80vw;
    }

    .dashboard-hidden {
        display: inline;
    }

    // animation de contenu d'accordéon

    #stars-lists .active .acc-body {
        height: 0;
        overflow: hidden;
        padding-bottom: 40px;
        /* Safari */
        -webkit-animation: slide-up 2s linear forwards;
        /* Firefox*/
        -moz-animation: slide-up 2s linear forwards;
        /* Opera */
        -o-animation: slide-up 2s linear forwards;
        /* IE */
        animation: slide-up 2s linear forwards;
    }
    /*Animation functionality*/
    @-webkit-keyframes slide-up {
        0% {
            height: 0;
        }

        25% {
            height: 100px;
        }

        50% {
            height: 150px;
        }

        75% {
            height: 200px;
        }

        100% {
            height: auto;
        }
    }
    @-moz-keyframes slide-up {
        0% {
            height: 0;
        }

        25% {
            height: 100px;
        }

        50% {
            height: 150px;
        }

        75% {
            height: 200px;
        }

        100% {
            height: auto;
        }
    }
    @-o-keyframes slide-up {
        0% {
            height: 0;
        }

        25% {
            height: 100px;
        }

        50% {
            height: 150px;
        }

        75% {
            height: 200px;
        }

        100% {
            min-height: auto;
        }
    }
    @keyframes slide-up {
        0% {
            height: 0;
        }

        25% {
            height: 100px;
        }

        50% {
            height: 150px;
        }

        75% {
            height: 200px;
        }

        100% {
            height: auto;
        }
    }

    /*
    *   =====================
    *    Show page formatting
    *   ======================
    */
    .show-page-inner-div {
        flex-direction: column;
        width: 100%;

        .action-buttons-container,
        .show-page-nom-prenom-container {
            width: 100%;
        }
    }

    /*
    *   ==============================
    *       Dashboard welcome page
    *   ==============================
    */
    .inner-container {
        flex-direction: column;
        align-items: center;
    }

    .inner-container > div {
        margin-bottom: 20px;
    }

    .inner-container div {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width: 800px) {
    .create-form-container {
        width: 80vw;
    }
}

@media only screen and (max-width: 900px) {
    /*
    *   ==========================================================================
    *    Displays edit and delete button in colum format Show page in admin panel
    *   ==========================================================================
    */
    .action-buttons {
        flex-direction: column;
    }

    #delete {
        margin-top: 20px;
    }

    // Changer la largeur du conteneur
    .startabs-parent-container {
        width: 90% !important;
    }

    /*
    *   ==========================
    *    Index page on admin panel
    *   ==========================
    */

    #edit {
        margin-bottom: 10px;
    }
}
